{# templates/match_group/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div data-controller="scrollto" data-scroll-target="{% if scrollTo is defined %}{{ scrollTo }}{% endif %}"></div>

    <div data-controller="matchgroup">

        <div class="container">
            {% set notificationTopic = "notification_group_" ~ matchGroup.id %}
            <div data-controller="notification">
                <div class="notification-center"
                     id="{{ notificationTopic }}" {{ turbo_stream_listen(notificationTopic) }}>
                    <script type="application/json" id="notifications-mercure-url">
                    {% set mercureUrl = app.request.server.get('MERCURE_PUBLIC_URL') ~ '?topic=' ~ notificationTopic|escape('js') %}
                    {{ mercureUrl|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}



                    </script>
                </div>
            </div>

            <a href="/" class="new-group-button btn btn-danger">Neue Gruppe erstellen?</a>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body group-head">
                            <div class="group-head">
                                <div class="group-head-head">
                                    <h1>{{ matchGroup.name }}</h1>
                                    <div class="copy-link-button-container">
                                        <button class="btn btn-primary copy-link-button"
                                                data-action="click->matchgroup#copyLinkToClipboard"
                                                data-copy-to-clipboard-url="https://{{ matchGroup.url }}">
                                            Einladungslink kopieren
                                        </button>
                                        <div class="feedback-message btn-danger" id="copyLinkFeedbackMessage">
                                            Link kopiert!
                                        </div>
                                    </div>
                                </div>
                                <div class="group-head-content">
                                    <p>Ort:<br> <strong>{{ matchGroup.location }} </strong></p>
                                    <p>Datum und Uhrzeit:<br>
                                        <strong>{{ matchGroup.date|date('l, j. F Y, H:i') }} Uhr</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="anmeldung-anchor"></div>
                            <h2>Anmeldung</h2>
                            {% if matchGroup.players|length < matchGroup.numPlayersRequired %}
                                {% include 'players/join_form.html.twig' %}
                            {% else %}
                                Die Gruppe ist leider bereits vollständig. <a href="{{ path('match_group_new') }}">Neue
                                Gruppe
                                erstellen?</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            {% include 'players/registered_players.html.twig' with {'authTokens': authTokens} %}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div data-controller="chat">
                        <div class="card">
                            <div class="card-body">
                                {% include 'chat/add_message.html.twig' with {'addMessageForm': addMessageForm, 'matchGroupShortId': matchGroup.shortId} %}
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                {% include 'chat/index.html.twig' with {'messages': matchGroup.messages} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
